{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/invoice.css") }}">
{% endblock %}

{% block title %}Invoice{% endblock %}

{% block main_content %}
    <div class="card" id="invoice-container">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h1>INVOICE</h1>
                </div>
                <div class="col-6 text-right">
                    <div class="text-left details-right">
                        <p class="invoice-info">Invoice No: 1</p>
                        <p class="invoice-info">Created At: 01/01/2020</p>
                        <p class="invoice-info font-weight-bold">Invoice Due: 14/01/2020</p>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-6">
                    <p class="invoice-muted">Daniel Samet</p>
                    <p class="invoice-muted">44 Sinclair Grove</p>
                    <p class="invoice-muted">London</p>
                    <p class="invoice-muted">England</p>
                </div>

                <div class="col-6">
                    <div class="text-left details-right">
                        <p class="invoice-muted">Client Company</p>
                        <p class="invoice-muted">Client</p>
                        <p class="invoice-muted">client@clientcompany.com</p>
                    </div>
                </div>
            </div>


            <table class="table invoice-items">
                <thead class="thead-light">
                <tr>
                    <th>Item</th>
                    <th>Qty. (Hrs)</th>
                    <th class="text-right">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Item 1</td>
                    <td>30</td>
                    <td class="text-right">£20000.00</td>
                </tr>
                <tr>
                    <td>Item 2</td>
                    <td>10</td>
                    <td class="text-right">£10000.00</td>
                </tr>
                <tr>
                    <td>Item 3</td>
                    <td>30</td>
                    <td class="text-right">£50000.00</td>
                </tr>
                <tr>
                    <td class="border-0"></td>
                    <td class="border-0"></td>
                    <td class="text-right total-price">
                        <span class="font-weight-bold">Total</span>: £550000.00
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row text-center">
                <div class="col-lg-4">
                    <p class="mb-lg-2 mb-0">Contact Information</p>
                    <p class="invoice-muted">Daniel Samet</p>
                    <p class="invoice-muted">danielsamet98@gmail.com</p>
                    <p class="invoice-muted">+44 7547 305 302</p>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-4">
                    <p class="mb-lg-2 mb-0">UK Payment</p>
                    <p class="invoice-muted">First Direct</p>
                    <p class="invoice-muted">40-47-63</p>
                    <p class="invoice-muted">11770519</p>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-4">
                    <p class="mb-lg-2 mb-0">International Payment</p>
                    <p class="invoice-muted">SWIFT - HBUKGB4BXXX</p>
                    <p class="invoice-muted">BIC - HBUKGB41FDO</p>
                    <p class="invoice-muted">IBAND - GB26HBUK40476311770519</p>
                    <p class="invoice-muted">Address - 40 Wakefield Leeds ALS98 1FD</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}